.main-nav {
	padding-left: 40px;
	min-height: 70px;
}

.nav-logo-text,
.nav-logo-text:hover {
	color: #00285f;
}

.nav-logo-text h4 {
	font-weight: bold;
}

.main-menu {
	display: flex;
	font-size: 18px;
	width: 380px;
	justify-content: space-between;
}

.main-menu a {
	color: #00285f;
	text-decoration: none;
}

.main-menu a:hover {
	color: #001e47;
}

.main-menu a.active {
	color: #00285f;
	font-weight: bold;
}

@media (min-width: 768px) {
	.main-menu {
		width: 460px;
		justify-content: flex-end;
	}

	.main-menu a {
		padding: 15px;
	}
}

@media (min-width: 1280px) {
	.main-menu {
		width: 650px;
	}
}
